form {
    display: grid;
    grid-template-columns: 100px 0.4fr;
    justify-content: center;
    grid-gap: 0.3em;
    justify-items: left;
    padding-top: 1em;
}
.error {
    color: red;
    text-align: left;
    font-size: 0.7em
}
